@{
    ViewData["Title"] = "User Profile";
}

@await Html.PartialAsync("_SinglePageBannerPartial")

<div class="container">
    <div class="row">

        <div class="col-md-6 user-profile">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <img src="../images/user.png" />
                </div>
            </div>

            <div class="row user-info">
                <div class="col-md-12">
                    <h2>Здравей, John Doe!</h2>
                    <p>Това е твоят Apt.19 акаунт, в който може да следиш нещо сииии</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="#b" data-toggle="tab"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#c" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                    <li><a href="#d" data-toggle="tab"><span class="glyphicon glyphicon-time"></span></a></li>
                    <li><a href="#e" data-toggle="tab"><i class="fa fa-user"></i></a></li>
                    <li><a href="#f" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="a">
                        <h3>Любими места</h3>
                        <ul class="list-group pull-left">
                            <li class="list-group-item">
                                <h4>Jen &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Dezi &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Eli &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Mojo &nbsp; &nbsp;<span class="badge pull-right">83%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Myself &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="b">
                        <h3>Ревюта</h3>
                        <ul class="list-group pull-left">
                            <li class="list-group-item">
                                <h4>Crystals &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Healing &nbsp; &nbsp;<span class="badge pull-right">90%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Exploring &nbsp; &nbsp;<span class="badge pull-right">78%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>QiGong &nbsp; &nbsp;<span class="badge pull-right">83%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>
                                    Myself &nbsp; &nbsp;<span class="badge pull-right">100%</span>
                                </h4>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="c">
                        <h3>Какво да има тук</h3>
                    </div>

                    <div class="tab-pane" id="d">DDDDDSecondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                    <div class="tab-pane" id="e">EEEEEThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>

                    <div class="tab-pane" id="f">
                        <h3>Настройки на профила</h3>
                    </div>
                </div><!-- /tab-content -->
            </div><!-- /tabbable -->
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->
