@{
    ViewData["Title"] = "Single Place";
}

@await Html.PartialAsync("_SinglePageBannerPartial",
    new SinglePageBannerPartialViewModels() { PageName = "Betahaus, Sofia", PictureUrl = "../images/betahaus-banner.jpg" }))


<div class="container">

    <div class="buy-single-single">

        <div class="col-md-9 single-box">

            <div class=" buying-top">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="../images/betahaus1.jpg">
                            <img src="../images/betahaus1.jpg" />
                        </li>
                        <li data-thumb="../images/betahaus2.jpg">
                            <img src="../images/betahaus2.jpg" />
                        </li>
                        <li data-thumb="../images/betahaus5.jpg">
                            <img src="../images/betahaus5.jpg" />
                        </li>
                        <li data-thumb="../images/betahaus4.jpg">
                            <img src="../images/betahaus4.jpg" />
                        </li>
                    </ul>
                </div>

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
            </div>

            <!--Contact Info-->
            <div class="place-contacts">
                <p>jhdbfdkjbckjdscs</p>

            </div>


            <div class="buy-sin-single">
                <div class="col-sm-5 middle-side immediate">
                    <h4>Удобства</h4>
                    <p><span class="bath"><i class="fa fa-laptop"></i> Работни места <span class="place-information">над 65</span></span></p>
                    <p>  <span class="bath1"><i class="fa fa-home"></i> Площ <span class="place-information">446m2</span></span></p>
                    <p><span class="bath2"><i class="fa fa-group"></i> Стаи за екипи <span class="place-information">4</span></span></p>
                    <p><span class="bath3"><i class="fa fa-microphone"></i> Конферентни зали <span class="place-information">250 места</span></span></p>
                    <p><span class="bath4"><i class="fa fa-wifi"></i> Интернет <span class="place-information">60mbps</span></span></span></p>
                    <p><span class="bath5"><i class="fa fa-coffee"></i> Кафене <span class="place-information">120m2</span></span></p>
                    <p><span class="bath6"><i class="fa fa-clock-o"></i> Работно време <span class="place-information">Пон - Пет 9am-8pm</span></span></p>
                    <div class=" right-side">
                        <a href="contact.html" class="hvr-sweep-to-right more">Резервирай място сега</a>
                    </div>
                </div>
                <div class="col-sm-7 buy-sin">
                    <h4>Информация</h4>
                    <p>Betahaus | sofia е първото споделено работно пространство в България, едно от най-големите в региона. Част е от една от най-успешните коуъркинг мрежи в Европа с клонове в Берлин, Барселона и Хамбург.</p>
                    <p>Бъди част от coworking семейството ни. Ела да работим заедно. Сърцето на betahaus. betacafé е място за работа, срещи, забавление или просто мястото за вкусно капучино. Даваме ти 120 кв.м., пространство, кафепаузи, кетъринг... </p>
                    <p>В Betahaus си има време и най-вече място за всичко – както за концентрирана и спокойна работа, така и за оживено общуване, презентации, семинари, работни срещи и друг вид събития (с две думи coworking в София).</p>
                </div>
                <div class="clearfix"> </div>
            </div>


            <div class="map-buy-single">
                <h4>
                    Открий ни на картата
                </h4>
                <div class="map-buy-single1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.1050457798774!2d23.32304351553477!3d42.68031712916667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8507c054abb1%3A0xbfd510ad7a016edf!2sbetahaus+%7C+sofia+-+coworking+space%2C+event+venue%2C+betacafe!5e0!3m2!1sbg!2sbg!4v1479239518463" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
            <div class="video-pre">
                <h4>Виж ни в действие</h4>
                <iframe width="560" height="355" src="https://www.youtube.com/embed/L7frpELSOXo" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>




        <div class="col-md-3">
            <div class="single-box-right right-immediate">
                <h4>Featured Communities</h4>
                <div class="single-box-img ">
                    <div class="box-img">
                        <a href="single.html"><img class="img-responsive" src="../images/sl.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a href="single.html">Lorem ipsum dolor sit amet</a></p>
                        <a href="single.html" class="in-box">More Info</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a href="single.html"><img class="img-responsive" src="../images/sl1.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a href="single.html">Lorem ipsum dolor sit amet</a></p>
                        <a href="single.html" class="in-box">More Info</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a href="single.html"><img class="img-responsive" src="../images/sl2.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a href="single.html">Lorem ipsum dolor sit amet</a></p>
                        <a href="single.html" class="in-box">More Info</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a href="single.html"><img class="img-responsive" src="../images/sl3.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a href="single.html">Lorem ipsum dolor sit amet</a></p>
                        <a href="single.html" class="in-box">More Info</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a href="single.html"><img class="img-responsive" src="../images/sl4.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a href="single.html">Lorem ipsum dolor sit amet</a></p>
                        <a href="single.html" class="in-box">More Info</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<!---->
<div class="container">
    <div class="future">
        <h3>Related Projects</h3>
        <div class="content-bottom-in">
            <ul id="flexiselDemo1">
                <li>
                    <div class="project-fur">
                        <a href="single.html"><img class="img-responsive" src="../images/pi.jpg" alt="" />	</a>
                        <div class="fur">
                            <div class="fur1">
                                <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                <span>Paris</span>
                            </div>
                            <div class="fur2">
                                <span>2 BHK</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project-fur">
                        <a href="single.html"><img class="img-responsive" src="../images/pi1.jpg" alt="" />	</a>
                        <div class="fur">
                            <div class="fur1">
                                <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                <span>Paris</span>
                            </div>
                            <div class="fur2">
                                <span>2 BHK</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project-fur">
                        <a href="single.html"><img class="img-responsive" src="../images/pi2.jpg" alt="" />	</a>
                        <div class="fur">
                            <div class="fur1">
                                <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                <span>Paris</span>
                            </div>
                            <div class="fur2">
                                <span>2 BHK</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project-fur">
                        <a href="single.html"><img class="img-responsive" src="../images/pi3.jpg" alt="" />	</a>
                        <div class="fur">
                            <div class="fur1">
                                <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                <span>Paris</span>
                            </div>
                            <div class="fur2">
                                <span>2 BHK</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            @section Scripts{
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo1").flexisel({
                            visibleItems: 4,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });

                    });
                </script>
            }
        </div>
    </div>

</div>
