@using Microsoft.AspNetCore.Identity
@using CoreClient.Models
@using Data.TransferObject

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>

        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa fa-user"> </i>@UserManager.GetUserName(User)</a>
    </li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            <button type="submit" class="submit-button"><a type="submit"><i class="fa fa-power-off"></i></a></button>
        </form>
    </li>
}
else
{
    
    <li>
        <a href="#" data-toggle="modal" data-target="#modalLogin"><i class="fa fa-user"> </i>Вход</a>
    </li>

}
