@using Microsoft.AspNetCore.Identity
@using CoreClient.Models
@using Data.TransferObject

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>

        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa fa-user"> </i>Здравей @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            <button type="submit" class="btn btn-warning">Log off</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-user"> </i>Регистрирай се</a>
    </li>
    <li>
        <a href="#" data-toggle="modal" data-target="#modalLogin"><i class="fa fa-user"> </i>Вход</a>
    </li>

}
