@model IndexViewModel


<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

@await Html.PartialAsync("_SinglePageBannerPartial",
    new SinglePageBannerPartialViewModels() { PageName = "Добре дошъл в Apt.19", PictureUrl = "../images/banner.jpg" })

<div class="container">
    <div class="row">

        <div class="col-md-6 user-profile">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <img src="../images/user.png" />
                </div>
            </div>

            <div class="row user-info">
                <div class="col-md-12">
                    <h2>Здравей,</h2>
                    <p>Това е твоят Apt.19 акаунт, в който може да следиш нещо сииии</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a" data-toggle="tab"><i class="fa fa-user"></i></a></li>
                    <li><a href="#b" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="#c" data-toggle="tab"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#d" data-toggle="tab"><i class="fa fa-calendar-o"></i></a></li>
                    <li><a href="#e" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                    <li><a href="#f" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span></a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="a">
                        <h3>Моят профил</h3>
                        <h4>Име</h4>
                        <h4>Дата на раждане</h4>
                        <h4>За мен</h4>
                    </div>

                    <div class="tab-pane" id="b">
                        <h3>Любими места</h3>
                        <ul class="list-group pull-left">
                            <li class="list-group-item">
                                <h4>Jen &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Dezi &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Eli &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Mojo &nbsp; &nbsp;<span class="badge pull-right">83%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Myself &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="c">
                        <h3>Ревюта</h3>
                        <ul class="list-group pull-left">
                            <li class="list-group-item">
                                <h4>Crystals &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Healing &nbsp; &nbsp;<span class="badge pull-right">90%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>Exploring &nbsp; &nbsp;<span class="badge pull-right">78%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>QiGong &nbsp; &nbsp;<span class="badge pull-right">83%</span></h4>
                            </li>
                            <li class="list-group-item">
                                <h4>
                                    Myself &nbsp; &nbsp;<span class="badge pull-right">100%</span>
                                </h4>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="d">
                        <h3>Известия</h3>
                    </div>

                    <div class="tab-pane" id="e">
                        <h3>Приятели</h3>
                    </div>




                    <div class="tab-pane" id="f">
                        <h3>Настройки на профила</h3>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalChangePassword">Смяна на парола</>
                    </div>
                </div><!-- /tab-content -->
            </div><!-- /tabbable -->
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->


<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Phone Numbers can used as a second factor of verification in two-factor authentication.
                See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p>
            @*@(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }*@
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                        Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                        <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                    </form>
                }*@
        </dd>
    </dl>
</div>
